# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
*.env

# Build output
frontend/dist/
backend/dist/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Logs
*.log
